:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primary-bg-color: #ffffff;
  --bg-color: #2f303a;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--primary-bg-color);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav-list a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}
.contact-us a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.contact-us a:hover,
.contact-us a:focus {
  color: var(--accent-color);
}

.section-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--bg-color);
  color: var(--primary-bg-color);
}
.button-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.futures-list-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.futures-list-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.what-we-are-do {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.what-we-are-do img {
  width: 370px;
  height: 294px;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-list h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.our-team p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-team img {
  width: 270px;
  height: 260px;
}

footer {
  background-color: var(--bg-color);
}
.address-office {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.address-mail,
.address-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio-section-list button {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.portfolio-section-list button:hover,
.portfolio-section-list button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.portfolio-list img {
  width: 370px;
  height: 294px;
}

.portfolio-list h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
